@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #f2f5fc !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: #d9dbe8;
  width: 8px;
  height: 8px;
}

.light-scrollbar::-webkit-scrollbar,
.light-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b6bad4;
  border-radius: 3px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
  pointer-events: none !important;
}

.carousel-indicators {
  display: none !important;
  pointer-events: none !important;
}

.chartjs-render-monitor {
  min-height: 350px !important;
}

.card {
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  background-color: #d9dbe8;
}

.footer-image1 {
  width: 6em;
  height: auto;
}

.footer-image2 {
  width: 6em;
  height: auto;
}

.footer-image1 {
  margin-left: 2rem;
}

.footer-image2-container {
  margin-right: 3em;
}

.footer-image2-container:hover {
  cursor: pointer;
}

.footer-text {
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
}

.footer-a {
  text-decoration: none;
  color: black;
}

.footer-a:hover {
  text-decoration: none;
  color: black;
}

.footer2-span {
  font-weight: 700;
  font-size: 0.8rem;
}

@media (max-width: 1224px) {
  .display-1 {
    font-size: 4rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }

  .statistic {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 1024px) {
  .display-1 {
    font-size: 4rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }

  .statistic {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 866px) {
  .display-1 {
    font-size: 3rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }

  .statistic {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem !important;
  }
  .tracking {
    font-size: 3.5rem !important;
  }

  .display-2 {
    font-size: 2.75rem !important;
  }

  .statistic {
    font-size: 1.25rem !important;
  }

  .click {
    font-size: 2rem !important;
  }

  .tracking {
    font-size: 2rem !important;
  }
  .map-header {
    font-size: 1.5rem !important;
  }

  .graph-header {
    font-size: 1.5rem !important;
  }

  .footer-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    background-color: #d9dbe8;
  }
  .footer-image1 {
    margin: 0 auto;
  }
  .footer-image2-container {
    margin: auto 0;
  }
}

@media (max-width: 610px) {
  .display-1 {
    font-size: 3rem !important;
  }
  .display-2 {
    font-size: 2rem !important;
  }

  .statistic {
    font-size: 1rem !important;
  }
}

@media (max-width: 540px) {
  .display-1 {
    font-size: 3rem !important;
  }
  .display-2 {
    font-size: 2rem !important;
  }

  .statistic {
    font-size: 1rem !important;
  }

  .click {
    font-size: 2rem !important;
  }

  .select-country {
    font-size: 1.25rem !important;
    margin-top: 1rem !important;
  }

  .tracking {
    font-size: 2rem !important;
  }
  .map-header {
    font-size: 1.5rem !important;
  }

  .graph-header {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 480px) {
  .display-1 {
    font-size: 3rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }
  .statistic {
    font-size: 3rem !important;
  }
}

@media (max-width: 420px) {
  .display-1 {
    font-size: 2rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }
  .statistic {
    font-size: 0.75rem !important;
  }
  .click {
    font-size: 1.5rem !important;
  }

  .select-country {
    margin-top: 1rem !important;
  }

  .tracking {
    font-size: 1.5rem !important;
  }
  .map-header {
    font-size: 1.25rem !important;
  }

  .graph-header {
    font-size: 1.25rem !important;
  }
  .footer-container {
    margin-top: 0.5rem;
  }

  .footer-text {
    font-size: 0.6rem;
    width: 75%;
    margin-bottom: 0.2rem;
  }

  .footer-image1 {
    width: 4em;
  }

  .footer-image2-container {
    margin: 0 auto;
  }

  .footer-image2 {
    width: 4em;
  }
  .footer2-span {
    font-size: 0.6rem;
  }
}

@media (max-width: 375px) {
  .display-1 {
    font-size: 2rem !important;
  }
  .display-2 {
    font-size: 2rem !important;
  }

  .select-country {
    font-size: 1rem !important;
  }
  .click {
    font-size: 1.5rem !important;
  }

  .tracking {
    font-size: 1.5rem !important;
  }

  .select-country {
    font-size: 1.15rem !important;
    margin-top: 1rem !important;
  }

  .map-header {
    font-size: 1.25rem !important;
  }

  .graph-header {
    font-size: 1.25rem !important;
  }

  .footer-container {
    margin-top: 0.5rem;
  }

  .footer-text {
    font-size: 0.6rem;
    width: 75%;
    margin-bottom: 0.2rem;
  }

  .footer-image1 {
    width: 4em;
  }

  .footer-image2-container {
    margin: 0 auto;
  }

  .footer-image2 {
    width: 4em;
  }
  .footer2-span {
    font-size: 0.6rem;
  }
}

@media (max-width: 330px) {
  .display-1 {
    font-size: 1.5rem !important;
  }
  .display-2 {
    font-size: 2rem !important;
  }
  .statistic {
    font-size: 0.75rem !important;
  }
  .click {
    font-size: 1rem !important;
  }

  .tracking {
    font-size: 1rem !important;
  }
  .map-header {
    font-size: 1rem !important;
  }

  .select-country {
    font-size: 1rem !important;
    margin-top: 1rem !important;
  }
  .graph-header {
    font-size: 1rem !important;
  }
  .line-header {
    font-size: 1rem !important;
  }
}

@media (max-width: 285px) {
  .display-1 {
    font-size: 2rem !important;
  }

  .click {
    font-size: 1.25rem !important;
  }

  .display-2 {
    font-size: 1.75rem !important;
  }

  .click {
    font-size: 1.25rem !important;
  }

  .statistic {
    font-size: 0.65rem !important;
  }

  .map-header {
    font-size: 1.25rem !important;
  }

  .graph-header {
    font-size: 1.25rem !important;
  }
  .infobox_container {
    width: 16rem !important;
  }
  .footer-container {
    margin-top: 0.5rem;
  }

  .footer-text {
    font-size: 0.6rem;
    width: 75%;
    margin-bottom: 0.2rem;
  }

  .footer-image1 {
    width: 4em;
  }

  .footer-image2-container {
    margin: 0 auto;
  }

  .footer-image2 {
    width: 4em;
  }
  .footer2-span {
    font-size: 0.6rem;
  }
}
