* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa !important;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  flex: 0.9;
}

.select-menu {
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px #ccc !important;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5) !important;
  width: 20% !important;
}

.app_selectmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_cardinfo {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.app_right {
  border-radius: 8px !important;
}

.chartjs-render-monitor {
  width: 450px !important;
  height: 450px !important;
}

.graph_container {
  background-color: #f2f2f2 !important;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

@media (max-width: 1400px) {
  .app {
    flex-direction: column;
  }
  .select-menu {
    flex-direction: column !important;
  }
  .app_right {
    margin-top: 20px;
  }
  .chartjs-render-monitor {
    width: auto !important;
    height: auto !important;
  }
}

@media (max-width: 760px) {
  .app_cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .select-menu {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .app_cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app_selectmenu {
    display: flex;
    flex-direction: column;
  }

  .infobox_container {
    margin-bottom: 10px;
    width: 350px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .app_selectmenu h1 {
    text-align: center;
  }

  .chartjs-render-monitor {
    width: 400px !important;
    height: 400px !important;
  }
}

@media (max-width: 400px) {
  .app_cardinfo {
    display: flex;
    flex-direction: column;
  }
  .app_selectmenu {
    display: flex;
    flex-direction: column;
  }

  .infobox_container {
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .app_selectmenu h1 {
    text-align: center;
  }

  .chartjs-render-monitor {
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 350px) {
  .app_cardinfo {
    display: flex;
    flex-direction: column;
  }
  .app_selectmenu {
    display: flex;
    flex-direction: column;
  }

  .infobox_container {
    margin-bottom: 10px;
    width: 250px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .app_selectmenu h1 {
    text-align: center;
  }

  .chartjs-render-monitor {
    width: 300px !important;
    height: 300px !important;
  }
}

@media (max-width: 300px) {
  .app_cardinfo {
    display: flex;
    flex-direction: column;
  }
  .app_selectmenu {
    display: flex;
    flex-direction: column;
  }

  .infobox_container {
    margin-bottom: 10px;
    width: 220px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .app_selectmenu h1 {
    text-align: center;
  }

  .chartjs-render-monitor {
    width: 250px !important;
    height: 250px !important;
  }
}
