.infobox_container {
  cursor: pointer;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  background-color: #dee0ec;
  width: 100%;
  margin: 10px auto;
}

.infobox {
  text-align: center;
  padding: 10px 0;
}

.imagebox {
  height: 80px;
  width: 120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5px;
}

.image {
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  border-radius: 8px;
}

.border-red {
  -webkit-box-shadow: 0 0 10px #c7949d;
  box-shadow: 0 0 10px #c7949d;
}

.border-green {
  -webkit-box-shadow: 0 0 10px #adce8b;
  box-shadow: 0 0 10px #adce8b;
}

.border-orange {
  -webkit-box-shadow: 0 0 10px #e5aea0;
  box-shadow: 0 0 10px #e5aea0;
}

.red {
  color: #c78490;
}

.green {
  color: #83b353;
}

.orange {
  color: #cf7964;
}
