.infobox_container {
  flex: 1;
  cursor: pointer;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  background-color: #f2f2f2;
  width: 90%;
}

.infobox_container:not(:last-child) {
  margin-right: 10px;
}

.infobox {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.infobox-title {
  font-size: 20px;
}

.infobox-text {
  font-weight: bold;
  font-size: 28px;
}

.imagebox {
  height: 80px;
  width: 120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5px;
}

.image {
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  border-radius: 8px;
}

.border-red {
  border: 1px #cc1034 solid;
}

.border-green {
  border: 1px #7dd71d solid;
}

.border-orange {
  border: 1px #ff6c47 solid;
}
.red {
  color: #cc1034;
}

.green {
  color: #7dd71d;
}

.orange {
  color: #ff6c47;
}

@media (max-width: 760px) {
}

@media (max-width: 500px) {
  .infobox_container:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  .infobox_container:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 350px) {
  .infobox_container:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 300px) {
  .infobox_container:not(:last-child) {
    margin-right: 0px;
  }
}
